@using WebSportingFixtures.ViewModels
@using WebSportingFixtures.Core.Models
@model EventViewModel

<p>@Html.ValidationMessage("PostCreateEventError")</p>

<form method="post" autocomplete="off">
    <div>
        <label asp-for="Home">Name of home team</label>
        <input asp-for="Home" id="homeTeamInput" oninput="getSuggestions('homeTeamInput')" />
        <span asp-validation-for="Home"></span>
    </div>
    <div>
        <label asp-for="Away">Name of away team</label>
        <input asp-for="Away" id="awayTeamInput" oninput="getSuggestions('awayTeamInput')" />
        <span asp-validation-for="Away"></span>
    </div>
    <div>
        <label asp-for="Status">Status</label>
        <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()"></select>
        <span asp-validation-for="Status"></span>
    </div>

    <input type="submit" name="save" value="Save" />
    <a asp-action="Index">Back</a>
</form>

<script>

    var homeInput = document.getElementById('homeTeamInput');
    var awayInput = document.getElementById('awayTeamInput');

    function getSuggestions(teamInput) {

        var request = new XMLHttpRequest();
        var teamInput = "#" + teamInput;
        request.onreadystatechange = function (response) {
            if (request.readyState === 4 && request.status === 200) {

                var possibleTeams = JSON.parse(request.responseText);
                $(teamInput).autocomplete({
                    source: function (request, response) {
                        response($.ui.autocomplete.filter(
                            possibleTeams, ""));
                    }
                });
            }
        };

        request.open('GET', 'http://localhost:63933/Events/SuggestedTeams?givenTeamName=' + (teamInput == '#homeTeamInput' ? homeInput.value : awayInput.value), true);
        request.send(null);
    }
</script>
